Answer 1------------------> *,-,+ and / are expressions and 'hello', -87.8 and 6 are values

Answer 2------------------> String is a data type and holds a data like naame, country name, address where as variable is a placeholder that can hold a value that can change/vary as per the operation/function.

Answer 3------------------> Numeric, String and Boolean are three different data types in python.

Answer 4------------------> Expressions are made up of operators, constants and variables. Expression modify the value of a variables or produce a value after performing an operation which we can assign to any variable

Answer 5------------------> A statement can be used to assign a value or for displaying a value whereas expression gets resolved to produce a value.

Answer 6------------------> After first line, bacon will contain 22. After second line bacon will contain 23.

Answer 7------------------> First line concatenate two string. Result would be 'spamspamspam'. Second line is trying to perform a mathemetical operation between a numeric data type and string data type. We will get an error in this case.

Answer 8------------------> There are few rules regarding naming a varible. We cannot have a variable name starting with a number is one of them. If we have a variable name starting with a number, compiler gets confused as to whether its a numerical value or an identifier.

Answer 9------------------> if we pass any value in int() , float() , and str( ) we will get integer, float and string version of those values.

Answer 10------------------> 'I have eaten'  + 99 + 'burritos.' This statement will throw an error as we are trying to perform a string concatenation between 2 string data type and one numeric data type. We will have to convert 99 into string value by adding inverted commas (quotes) like '99'. Now, if we run "I have eaten' + '99' + 'buritos.', it will get excuted without any error.