Answer 1--------------------------------> Lambda functions are user defined functions but without a name. These can be useful for executing simple tasks or expressions. Regular functions will always has its name whereas lambda functions are anonymous.

Answer 2--------------------------------> Lambda functions can certainly take any number of arguments, but it can only have one expresion.Regardless of how many arguments you use with lambda, it always returns a single value. For dealing with multiple arguments, we can take those arguments in a list and can use them from there.

Answer 3--------------------------------> In python, lambda functions are generally used for executing a small and simple expresstions. We don’t need to specify a name for the function. For example lets consider below example:

In [1]:
squares = lambda x: x*x
print('Using lambda: ', squares(5))

Using lambda:  25

In [2]:
mylist = [2,3,4,5,6,7,8,9,10]
list_new  = list(filter(lambda x : (x%2==0), mylist))
print(list_new)

[2, 4, 6, 8, 10]

In the above example we have used lambda function with a filter(). Similarly, we can use lambda function with map(), reduce() etc.

Answer 4--------------------------------> The main ways lambda expressions are different from def:

1)They can be immediately passed around (no variable needed)
2)They can only have a single line of code within them
3)They return automatically
4)They can’t have a docstring and they don’t have a name
5)They use a different and unfamiliar syntax.

> Limitation is that it  can only have one line of code. Also, its unnfamiliar syntax is a bit confusing at times.  But the advantage is that it can return automatically and can be passed around without needing a variable.

Answer 5--------------------------------> A lambda expression introduces a new local scope for the function it creates. Lambdas function can see all the variables that live in the functions where they are coded. Lambda functions can access a a global variable. Below is the example:

In [3]:
x=5
squares = lambda x: x*x
print('Using lambda: ', squares(x))

Using lambda:  25

In the example above, we can see that x is defined outside the lambda function, but we are able to call it inside a lambda function.

Answer 6--------------------------------> We can write a lambda function to calculate the square of a given number as following:

In [5]:
x=18
squares = lambda x: x*x
print('Using lambda: ', squares(x))

Using lambda:  324

Answer 7--------------------------------> Here is the lambda function to find the maximum value in the list of intgers. By using max() and min() functions, we can find out the maximum and minimum value from the list.

In [10]:
mylist = [2,3,4,5,6,7,8,9,10,52,87,12,45]
max_number = max(mylist)
print("The maximum value is:", max_number)

The maximum value is: 87

Answer 8--------------------------------> For implementing a lambda function to filter out all the even numbers from a list of integers, we can use filter() function and write the following code.

In [11]:
mylist = [4,54,15,14,18,35,16,58,47,26,15,35,95,75,95]
list_new  = list(filter(lambda x : (x%2==0), mylist))
print(list_new)

[4, 54, 14, 18, 16, 58, 26]

Answer 9--------------------------------> A code for a lambda function to sort a list of strings in ascending order based on the length of each
string is as follows:

In [22]:
name_list = ["Rashi", "Akash","Nain","Ishita", "Gauri", "Himanshu", "Sukesh"]
name_list.sort(key=lambda name: name.split()[0])
print("Sorted name list", name_list)

Sorted name list ['Akash', 'Gauri', 'Himanshu', 'Ishita', 'Nain', 'Rashi', 'Sukesh']

Answer 10------------------------------->

In [27]:
name_list1 = ["Rashi", "Akash","Nain","Ishita", "Gauri", "Himanshu", "Sukesh"]
name_list2 = ["Anjan", "Anand","Nain","Himesh", "Rashi", "Himanshu", "Mukesh"]
result = list(filter(lambda x: x in name_list1, name_list2))
print ("Intersection : ",result)

Intersection :  ['Nain', 'Rashi', 'Himanshu']

Answer 11------------------------------->

In [28]:

x = lambda num : 1 if num <= 1 else num*x(num-1)

number = int(input('Enter number: '))

print('%d != %d' %(number, x(number)))

Enter number: 5
5 != 120

Answer 12------------------------------->

In [36]:
def fibonacci(count):
    fib_list = [0, 1]

    any(map(lambda _: fib_list.append(sum(fib_list[-2:])),
                                         range(2, count)))

    return fib_list[:count]

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Answer 13------------------------------->

In [46]:
import functools
myList = [4,54,15,14,18,35,16,58,47,26,15,35,95,75,95]
print(functools.reduce(lambda a, b: a+b, myList))

602

Answer 14------------------------------->

In [51]:
name_list = ["Rashi", "AGGA","SANASA","Ishita", "PHP", "Himanshu", "Sukesh"]
result = list(filter(lambda x: (x =="".join(reversed(x))),name_list))
print (result)

['AGGA', 'PHP']

Answer 15------------------------------->

In [63]:
gcd = lambda a, b: a if b == 0 else gcd(b, a % b)

a = 24
b = 1024

print("The gcd of 24 and 1024 is:", gcd(a, b))

The gcd of 24 and 1024 is: 8