Answer 1----------------------> Keywords are forbidable words that we cannot use for our varibale name, function name or for any identifier name. These words are reserved.

In [1]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Answer 2----------------------> A variable name cannot be any of the Python keywords.
A variable name must start with a letter or the underscore character
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
A variable name should not start with a number.
Variable names are case-sensitive.

Answer 3----------------------> We should use grammatically correct variable names, the variable name should start with an lowercase and must follow camelCase or use underscoreto join two words.
We should avoid abbreviation, we should not use generic names, we should not use misleading names. The variable names should be short as well as meaningful.

Answer 4----------------------> If we use keyword as a variable name, the compiler or interpreter might think we mean the keyword, and we might not be able to access the variable.

Answer 5----------------------> def keyword is used to create a user defined funcion.

Answer 6----------------------> '\\' is an escape character. Prefixing it with any special character make it an ordinary character. \t means tab, \n means new line etc.

Answer 7----------------------> Homogeneous list ["apple", "banana", "Orange"]
Heterogeneous set {"apple", 24, "Orange", 48}
Homogeneous tuple ("Delhi", "Mumbai", "Chennai", "Kolkata")

Answer 8----------------------> We can change the contents of a mutable data type in Python, by assigning new values or by adding new values. Whereas, we cannot change the contents of an immutable data type in Python. The data in immutable data types remains the same.
Lists, dictionary and sets are mutable objects  where as numbers, string and tuples are immutable objects.

In [6]:
demo_tuple= ("Delhi", "Mumbai", "Chennai", "Kolkata")
demo_tuple

('Delhi', 'Mumbai', 'Chennai', 'Kolkata')

In [10]:
demo_list= [23, "Ajay", 34, "Raveena"]
demo_list.insert(0,"Aakash")
demo_list

['Aakash', 23, 'Ajay', 34, 'Raveena']

Answer 9---------------------->

In [40]:
n=5
for i in range(n):

    for j in range(i,n):
         print(' ', end="")

    for j in range(i):
         print('*', end="")

    for j in range(i+1):
         print('*', end="")

    print()

     *
    ***
   *****
  *******
 *********

Answer 10---------------------->

In [41]:
n=5
i=1
while n>0:
    b=1
    while (b<i):
        print(" ", end ="")
        b=b+1
    j=1
    while (j<=(n*2)-1):
        print("|", end="")
        j=j+1
    print()
    n=n-1
    i=i+1

|||||||||
 |||||||
  |||||
   |||
    |